<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> Movies </a>
    <form class="d-flex" [formGroup]="searchForm" (ngSubmit)="onSubmit()" >
      <select class="form-select me-3" formControlName="searchOption" name="searchOption" aria-label="Default select example">
        <option value="name" selected > Movie Name </option>
        <option value="vote_average"> Rating </option>
      </select>
      <input class="form-control me-2" formControlName="searchTitle" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
